.heading {
  color: white;
  font-size: calc(10px + 2vmin);
  margin: 20px;
}

.main-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-column {
  width: 100px;
}

.launched-column {
  width: 110px;
}

.market-cap-column {
  width: 110px;
}

.price-column {
  width: 80px;
}

.max-supply-column {
  width: 120px;
}

.tps-column {
  width: 100px;
}

.finality-column {
  width: 120px;
}

.consensus-column {
  width: 120px;
}

.gas-fee-column {
  width: 120px;
}

.dev-activity-column {
  max-width: 200px;
}

.founders-column, .main-idea-column {
  max-width: 300px;
  font-size: 13px;
}

/* antd styles overwrite */
.ant-tooltip {
  max-width: 500px !important;
}
